/* Estilos para dispositivos maiores */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.timer {
  font-size: 200px;
  font-weight: bold;
}

.button {
  background-color: purple;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  margin-top: 20px;
}

.blind {
  font-size: 80px;
  border: 1px solid #fff;
  padding: 20px 100px;
  background-color: #102c34;
}

.next-blind {
  margin-top: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Estilos para dispositivos menores */
@media (max-width: 768px) {
  .timer {
    font-size: 60px;
    max-width: 100%;
  }

  .button {
    font-size: 16px;
    padding: 8px 20px;
  }

  .blind {
    font-size: 40px;
    padding: 10px 20px;
  }

  .next-blind {
    margin-top: 20px;
  }
}
